In [1]:
import numpy as np
import pandas as pd
import warnings
import os
from tqdm import tqdm
from sklearn import preprocessing, metrics
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
from joblib import Parallel, delayed

%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

warnings.filterwarnings('ignore')

In [2]:
next_action = pd.read_csv('./temp/next_action.csv')

In [3]:
next_action.head()

       id
0   98263
1  116276
2  153284
3   16134
4   23009

In [4]:
df_feature = pd.read_pickle('./temp/base_feature.plk')
print(df_feature.shape)
df_feature = next_action.merge(df_feature, how='left')
print(df_feature.shape)

(223104, 12)
(48277, 12)

In [5]:
df_feature['type'].value_counts()

train    44058
test      4219
Name: type, dtype: int64

In [6]:
df_feature.head()

,id,courier_id,wave_index,tracking_id,courier_wave_start_lng,courier_wave_start_lat,action_type,expect_time,date,type,target,group
0,98263,10330725,9,2100075923187730175,121.481429,39.299365,PICKUP,1582888651,20200228,train,1.0,20200228103307259
1,116276,10053442,1,2100075314534647435,121.479587,39.248115,PICKUP,1582084880,20200219,train,1.0,20200219100534421
2,153284,118787313,4,2100075078536791439,121.440498,39.203471,DELIVERY,1581671584,20200214,train,1.0,202002141187873134
3,16134,116706233,3,2100074825841346124,121.543010,39.258822,DELIVERY,1581075896,20200207,train,1.0,202002071167062333
4,23009,118333873,5,2100074746653279446,121.406669,39.364738,PICKUP,1580906387,20200205,train,1.0,202002051183338735

In [7]:
df_feature.to_pickle('./temp/part2_feature.plk')